{% extends "registration/base.html" %}
{% load i18n %}

{% block title_text %}{% trans 'Password Reset Complete' %}{% endblock %}
{% block reg_heading_text %}{% trans 'PASSWORD RESET COMPLETE' %}{% endblock %}

{% block reg_content %}
    <div class="row no-gutters justify-content-center p-3">
        <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>

        <a class="w-100" href="{% url 'login' %}">
            <button class="btn btn-sm btn-outline-info font-saira w-100 mt-2" type="button"><i class="fas fa-sign-in-alt mr-1"></i>{% trans 'LOGIN' %}</button>
        </a>
    </div>
{% endblock reg_content %}