{% extends "registration/base.html" %}
{% load i18n static %}

{% block title_text %}{% trans 'Password Reset Confirm' %}{% endblock %}
{% block reg_heading_text %}{% trans 'PASSWORD RESET CONFIRM' %}{% endblock %}

{% block reg_content %}
    <div class="row no-gutters justify-content-center">
        {% if validlink %}
            <form class="col my-auto p-3" method="POST" accept-charset="UTF-8">
            {% csrf_token %}
            {% include 'snippets/hidden_fields.html' %}

            <!-- password1 -->
            <div class="form-row p-1">
                {% include 'snippets/passwd_field.html' with form=form formfld=form.new_password1 placeholder=form.new_password1.label icon='fas fa-key' %}
            </div>
            <!-- password2 -->
            <div class="form-row p-1">
                {% include 'snippets/passwd_field.html' with form=form formfld=form.new_password2 placeholder=form.new_password2.label icon='fas fa-lock' %}
            </div>

            <!-- button -->
            <button id='loader' class="btn btn-sm btn-outline-info font-saira w-100 mt-2" type="button" hidden><i class="fa fa-spinner fa-spin mr-1"></i>{% trans 'CHANGING...' %}</button>
            <button id='submit' class="btn btn-sm btn-info font-saira w-100 mt-2" type="submit"><i class="fas fa-sync mr-1"></i>{% trans 'CHANGE PASSWORD' %}</button>
        </form>
        {% else %}
            <p class="p-3">{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
        {% endif %}
    </div>
{% endblock reg_content %}

{% block js_extra %}
    <script src="{% static 'js/passwd_show.js' %}"></script>
    <script src="{% static 'js/btn_loader.js' %}"></script>
{% endblock %}